
/* Footer */

footer
{
    padding-top: 25px;
    flex: 3;
    text-align: center;
    box-shadow: 10px 20px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}
#pieds img
{
    position: relative;
    width: 8em;
    height: 5em;
}


footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}
