
/* Corps */
body
{
    background-image: url("/img/background.png");
    background-repeat: repeat;
    background-size: 35%;
}
section
{
    display: flex;
    margin-bottom: 20px;
}

/*bloc des recettes*/
article
{
    text-align: justify;
    margin-right: 5px;
    flex: 3;
    position: relative;
    background-color: rgb(236,236,236);
    box-shadow: 10px 20px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}


/*bloc publicités*/
aside
{
    text-align: center;
    margin-right: 5px;
    flex: 0;
    position: relative;
    background-color: white;
    box-shadow: 10px 20px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}

#pub img
{
    width: 150px;
    height: 100px;
    position: relative;
    border-radius: 30px;
}

/*bloc de recettes*/
#descriptif_recette1, #descriptif_recette2, #descriptif_recette3, #descriptif_recette4
{
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    padding: 10px 16px;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgb(218,190,70);
    border-radius: 5px;
}

/*images de la recette*/
#descriptif_recette1 img, #descriptif_recette2 img, #descriptif_recette3 img, #descriptif_recette4 img
{
    border: 1px solid rgb(104,132,26);
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 120px;
    height: 120px;
    position: relative;
    left: 0px;
    top: 0px;
    
}

/*description de la recette*/
#descriptif_recette1 p, #descriptif_recette2 p, #descriptif_recette3 p, #descriptif_recette4 p
{
    text-align: justify;
    word-wrap: break-word;
    display: block;
    padding: 3px 16px;
    font-size: 1em;
    width: 500px;
}


/*changement de couleur quand on pointe sur le bloc recette*/
#descriptif_recette1:hover, #descriptif_recette2:hover, #descriptif_recette3:hover, #descriptif_recette4:hover
{
    color: rgb(104,132,26);
    border-bottom: 3px solid #760001;
}


#descriptif_recette1 a
{
    margin-top: 10px;
    color: rgb(104,132,26);
    text-align: center;
    text-decoration: none;
}
