<!-- cadre pour les publicités -->
<aside>
    <div id="pub">
        <img src="/img/pub.jpg" alt="photo de la pub">
    </div>
    <a href="https://www.cdiscount.com/maison/cuisson/ustensiles-de-cuisine-en-silicone-10-ensembles-spo/f-117891253-swa2009643003230.html?idOffre=507107499">
        <strong>Cdiscount</strong>
    </a>
</aside>