<!-- la barre de navigation -->
<header>         
    <nav>
        <div id="navig">

            <!-- mise en place du logo -->
            <div id="logo">
                <img src="/img/logo.png" />    
            </div>

            <!-- Barre de recherche -->
            <div id="barre">
                <form action="/search" method="get">
                    {{>recipe/recipe_name}}
                </form>
            </div>

            <!-- Boutons About, Help et Home -->
            <div>
                <ul class="groupe_accueil_apropos_aide">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/about">A propos de nous</a></li>
                    <li><a href="/help">Aide</a></li>
                </ul>
            </div>

            <!-- Boutons connexion et inscription -->
            <div class="connexion">
                <ul class="groupe_connexion_inscription">
                    <li><a href="/signin">Connexion</a></li>
                    <li><a href="/signup">Inscription</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>