<meta charset="utf-8" />
<link rel="icon" href="/img/favicon.png">
<link rel="stylesheet" href="/css/elhadji/header/entete.css" />
<link rel="stylesheet" href="/css/elhadji/header/lien_navigation.css" />
<link rel="stylesheet" href="/css/elhadji/footer/pieds_page.css" />