<div id="descriptif_recette1">
    <img src="/img/karen.png"/><br/>
    <p>
        <strong>Karen</strong><br/><br/>
        Country: France 🇫🇷<br/>
        Number of recipe: 23<br/>
        Speaking language: English<br/>
        Avergage notation: 4.3/5<br/>
    </p>
</div>