<!DOCTYPE html>

<html>

<head>
    {{>head}}
    <link rel="stylesheet" href="/css/styles_logo.css">
</head>
 
<body>

    {{>header}}
    
    <div class="main-content">

        <p>This site was created by our team.</p>
        <p>Made using Node.js, Express.js and MongoDB.</p>

        <img class='logo' src='/img/Esme-sudria-logo.png'>

    </div>
    
    {{>footer}}
    
</body>

</html>