<!DOCTYPE html>

<html>

<head>
    {{>head}}
</head>
 
<body>

    {{>header}}
    
    <div class="main-content">

        <p>Do you need some help?</p>

    </div>
    
    {{>footer}}

</body>

</html>