<!DOCTYPE html>

<html>

<head>
    {{>head}}
</head>
 
<body>
    
    {{>header}}

    <div id="main-content" class="main-content">

        <form action="/search" method="get">
            <div>
                {{>recipe/recipe_name}}
                {{>recipe/recipe_country}}
                {{>recipe/recipe_language}}
                {{>utils/button_search}}
            </div>
        </form>
    
    </div>
    
    {{>footer}}

</body>

</html>