<!DOCTYPE html>

<html>

<head>
    {{>head}}
</head>
 
<body>

    {{>header}}

    <div id="main-content" class="main-content">

        <form action="/recipes" method="post">
            
            {{>recipe/recipe_name}}
            {{>recipe/recipe_country}}
            {{>recipe/recipe_language}}
            <br/><br/>

            {{>recipe/recipe_description}}

            <input type="text" name="_id" placeholder="User ID" required>

            <button>Post</button>
        </form>

        {{>post}}
    </div>
    
    {{>footer}}

</body>

</html>