<!DOCTYPE html>

<html>

<head>
    {{>head}}
    <link rel="stylesheet" href="/css/styles_recipe.css">
    <link rel="stylesheet" href="/css/styles_ads.css">
</head>
 
<body>

    {{>header}}

    <div id="main-content" class="main-content">

        <div class="recipe-title">
            {{recipeName}}<br/>
            {{country}}, {{language}}<br/><br/>
        </div>

        <div class="recipe-description">
            {{description}}
        </div>

        {{>ads}}
    
    </div>
    
    {{>footer}}

</body>

</html>