<!DOCTYPE html>

<html>

<head>
    {{>head}}
    <link rel="stylesheet" href="css/styles_search_results.css">
</head>
 
<body>

    {{>header}}
    
    <div class="main-content">

        <div id="search-results" class="search-results">
            {{{searchResults}}}
        </div>

    </div>
    
    {{>footer}}

</body>

</html>