<!DOCTYPE html>

<html>

<head>
    {{>head}}
    <link rel="stylesheet" href="/css/styles_sign_form.css">
</head>
 
<body>

    {{>header}}

    <div id="main-content" class="main-content">

        <div class="sign-form">
            <form action="/search">
                <input type="text" name="username" placeholder="Username" required>
                <input type="text" name="country" placeholder="Country">
                <input type="text" name="email" placeholder="Email" required>
                <input type="text" name="password" placeholder="Password" required>
                <input type="text" name="confirmPassword" placeholder="Confirm Password" required><br/>
                <button>{{title}}</button>
            </form>
        </div>
    
    </div>
    
    {{>footer}}

</body>

</html>