<div class="ads">
    
    <div class="ad">
        
        <a 
            href="https://www.cdiscount.com/maison/cuisson/ustensiles-de-cuisine-en-silicone-10-ensembles-spo/f-117891253-swa2009643003230.html?idOffre=507107499"
            target="_blank"
        >
            <img src="/img/pub.jpg">
            <strong>Cdiscount</strong>
        </a>
    </div>

</div>