<header>
    <h1>{{title}}</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>

        <a href="/signin">Sign in</a>
        <a href="/signup">Sign up</a>
    </nav>

    <form class="header-search-bar" action="/search" method="get">
        <div>
            {{>recipe/recipe_name}}
            {{>utils/button_search}}
        </div>
    </form>
    
</header>