<!DOCTYPE html>
<html>
    <head>
        {{>elhadji/head}}
        <link rel="stylesheet" href="/css/elhadji/page_results/style.css" />
        <link rel="stylesheet" href="/css/elhadji/page_results/style_principaux.css" />
        <link rel="stylesheet" href="/css/elhadji/page_results/corps.css" />
        <link rel="stylesheet" href="css/styles_search_results.css">
        <title> Kitchen Heaven Page d'accueil</title>
    </head>
    
    <body>
        <div id="bloc_page">
        	
			{{>elhadji/header}}
			<br/><br/><br/>
            
            <section>
            	<!-- le corps de la page -->
                <article>
                	<!-- affichage de la recette 1 -->
                    <h1>Voici quelques résultats:</h1>
                    {{{searchResults}}}
                </article>

                {{>elhadji/aside}}
               
            </section>
            
            {{>elhadji/footer}}
        </div>
    </body>
</html>
