<!DOCTYPE html>
<html>
    <head>
        {{>elhadji/head}}
        <link rel="stylesheet" href="/css/elhadji/page_accueil/style.css" />
        <link rel="stylesheet" href="/css/elhadji/page_accueil/style_principaux.css" />
        <link rel="stylesheet" href="/css/elhadji/page_accueil/corps.css" />
        <title> Kitchen Heaven Page d'accueil</title>
    </head>
    
    <body>
        <div id="bloc_page">
        	
			{{>elhadji/header}}
			<br/><br/><br/>
            
            <section>
            	<!-- le corps de la page -->
                <article>
                	<!-- affichage de la recette 1 -->

                    <div id="descriptif_recette1">
                    	<img src="/img/lasagnes1.png"/><br/>
                    	<p><strong> Lasagnes 4 fromages</strong><br/><br/>
                    	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec sagittis massa. Nulla facilisi. Cras id arcu lorem, et semper purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel enim mi, in lobortis sem. Vestibulum luctus elit eu libero ultrices id fermentum sem sagittis. Nulla imperdiet mauris sed sapien dignissim id aliquam est aliquam. Maecenas non odio ipsum, a elementum nisi. Mauris non erat eu erat placerat convallis. Mauris in pretium urna. Cras laoreet molestie odio, consequat consequat velit commodo eu. Integer vitae lectus ac nunc posuere pellentesque non at eros. Suspendisse non lectus lorem.</p>
                    	
                    </div>
                    <div id="descriptif_recette2">
                    	<img src="/img/lasagnes1.png"/>
                    	<p><strong> Lasagnes 4 fromages</strong><br/><br/>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec sagittis massa. Nulla facilisi. Cras id arcu lorem, et semper purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel enim mi, in lobortis sem. Vestibulum luctus elit eu libero ultrices id fermentum sem sagittis. Nulla imperdiet mauris sed sapien dignissim id aliquam est aliquam. Maecenas non odio ipsum, a elementum nisi. Mauris non erat eu erat placerat convallis. Mauris in pretium urna. Cras laoreet molestie odio, consequat consequat velit commodo eu. Integer vitae lectus ac nunc posuere pellentesque non at eros. Suspendisse non lectus lorem.</p>
                	</div>
                	<div id="descriptif_recette3">
                    	<img src="/img/lasagnes1.png"/>
                    	<p><strong> Lasagnes 4 fromages</strong><br/><br/>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec sagittis massa. Nulla facilisi. Cras id arcu lorem, et semper purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel enim mi, in lobortis sem. Vestibulum luctus elit eu libero ultrices id fermentum sem sagittis. Nulla imperdiet mauris sed sapien dignissim id aliquam est aliquam. Maecenas non odio ipsum, a elementum nisi. Mauris non erat eu erat placerat convallis. Mauris in pretium urna. Cras laoreet molestie odio, consequat consequat velit commodo eu. Integer vitae lectus ac nunc posuere pellentesque non at eros. Suspendisse non lectus lorem.</p>
                    </div>
                    <div id="descriptif_recette4">
                    	<img src="/img/lasagnes1.png"/>
                    	<p><strong> Lasagnes 4 fromages</strong><br/><br/>
                    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec sagittis massa. Nulla facilisi. Cras id arcu lorem, et semper purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel enim mi, in lobortis sem. Vestibulum luctus elit eu libero ultrices id fermentum sem sagittis. Nulla imperdiet mauris sed sapien dignissim id aliquam est aliquam. Maecenas non odio ipsum, a elementum nisi. Mauris non erat eu erat placerat convallis. Mauris in pretium urna. Cras laoreet molestie odio, consequat consequat velit commodo eu. Integer vitae lectus ac nunc posuere pellentesque non at eros. Suspendisse non lectus lorem.</p>
                    </div>
                </article>

                {{>elhadji/aside}}
               
            </section>
            
            {{>elhadji/footer}}
        </div>
    </body>
</html>
