<!DOCTYPE html>
<html>
    <head>
        {{>elhadji/head}}
        <link rel="stylesheet" href="/css/elhadji/page_connexion/style.css" />
        <link rel="stylesheet" href="/css/elhadji/page_connexion/style_principaux.css" />
        <link rel="stylesheet" href="/css/elhadji/page_connexion/corps.css" />
        <title> Kitchen Heaven Connexion</title>
    </head>
    
    <body>
        <div id="bloc_page">
        	
            {{>elhadji/header}}
            
            <section>
                
            	<!-- le corps de la page -->
                    <article>
                        <div id="corps">
                        <h1>Bienvenue<br/><br/>Veuillez remplir les champs pour vous connecter</h1><br/>
                        <div id="barres"><br/>

                            <div id="barre1">
                                    <input type="mail" name="Adresse mail" placeholder="Adresse mail" required/>
                            </div><br/>

                            <div id="barre2">
                                    <input type="mot" name="Mot de passe" placeholder="Mot de passe" required/>
                            </div><br/>


                            <div id="barre3">
                                <a href="#">Se connecter</a>
                            </div>
                        </div>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>


                        
                    </article>

                    {{>elhadji/aside}}

            </section>

            {{>elhadji/footer}}

        </div>
    </body>
</html>
