<!DOCTYPE html>
<html>
    <head>
        {{>elhadji/head}}
        <link rel="stylesheet" href="/css/elhadji/page_accueil/style.css" />
        <link rel="stylesheet" href="/css/elhadji/page_accueil/style_principaux.css" />
        <link rel="stylesheet" href="/css/elhadji/page_accueil/corps.css" />
        <link rel="stylesheet" href="/css/elhadji/page_recette/styles_recette.css">
        <link rel="stylesheet" href="/css/styles_recipe.css">
        <title> Kitchen Heaven Page d'accueil</title>
    </head>
    
    <body>
        <div id="bloc_page">
        	
			{{>elhadji/header}}
			<br/><br/><br/>
            
            <section>
            	<!-- le corps de la page -->
                <article>
                	<!-- affichage de la recette 1 -->

                    {{>elhadji/user}}

                    <div id="descriptif_recette2">
                    	<img src="/img/lasagnes1.png"/>
                    	<p>
                            <strong>
                                {{recipeName}}<br/>
                                {{country}}, {{language}}
                            </strong>
                            <br/><br/>
                            {{description}}
                    	</p>
                	</div>

                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

                </article>

                {{>elhadji/aside}}
               
            </section>
            
            {{>elhadji/footer}}
        </div>
    </body>
</html>
