<!DOCTYPE html>
<html>
    <head>
        {{>elhadji/head}}
        <link rel="stylesheet" href="/css/elhadji/page_inscription/style.css" />
        <link rel="stylesheet" href="/css/elhadji/page_inscription/style_principaux.css" />
        <link rel="stylesheet" href="/css/elhadji/page_inscription/corps.css" />
        <title> Kitchen Heaven Inscription</title>
    </head>
    
    <body>
        <div id="bloc_page">
        	
            {{>elhadji/header}}
            
            <section>
            	<!-- le corps de la page -->
                <article>
                    <div id="corps">
                        <h1>Bienvenue<br/><br/>Veuillez remplir les champs pour vous inscrire</h1><br/>
                        <div id="barres"><br/>


                            <div id="barre1">
                                    <input type="text" name="nom d'utilisateur" placeholder="Nom d'utilisateur" required/>
                            </div><br/>

                            <div id="barre2">
                                    <input type="mail" name="Adresse mail" placeholder="Adresse mail" required/>
                            </div><br/>

                            <div id="barre3">
                                    <input type="mot" name="Mote de passe" placeholder="Mot de passe" required/>
                            </div><br/>

                            <div id="barre4">
                                    <input type="mot" name="Confirmation mot de passe" placeholder="Confirmation mot de passe" required/><br/><br/>
                            </div><br/>

                            <div id="barre5">
                                <a href="#">S'inscrire</a>
                            </div>
                        </div>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    </div>

                    
                </article>

                {{>elhadji/aside}}
               
            </section>
            
            {{>elhadji/footer}}

        </div>
    </body>
</html>
