<!DOCTYPE html>
<html>
    <head>
        {{>elhadji/head}}
        <link rel="stylesheet" href="/css/elhadji/page_about/style.css" />
        <link rel="stylesheet" href="/css/elhadji/page_about/style_principaux.css" />
        <link rel="stylesheet" href="/css/elhadji/page_about/corps.css" />
        <title> A propose de nous</title>
    </head>
    
    <body>
        <div id="bloc_page">

            {{>elhadji/header}}
            
            <section>
                
            	<!-- le corps de la page -->
                    <article>
                        <div id="corps">

                            <div id="barres"><br/>

                                <div id="barre1">
                                    <p>
                                        Ce site a été créé par des ingénieurs en informatique et réseau dans le cadre d'un projet d'études.<br/>
                                        <h1>Membres de l'équipe</h1><br/>
                                        STAUNER Clément<br/><br/>
                                        DIOUF Elhadji Taibou<br/><br/>
                                        KANE Marie-Selly<br/><br/>
                                        BALEZOU Inès<br/><br/><br/>
                                    </p>
                                </div>
                            </div>
                            
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        
                    </article>

                    {{>elhadji/aside}}
               
            </section>

            {{>elhadji/footer}}

        </div>
    </body>
</html>
