<!DOCTYPE html>
<html>
    <head>
        {{>elhadji/head}}
        <link rel="stylesheet" href="/css/elhadji/page_accueil/style.css" />
        <link rel="stylesheet" href="/css/elhadji/page_accueil/style_principaux.css" />
        <link rel="stylesheet" href="/css/elhadji/page_accueil/corps.css" />
        <title>{{title}}</title>
    </head>
    
    <body>
        <div id="bloc_page">
        	
            {{>elhadji/header}}
            <br/><br/><br/>
            
            <section>
            	<!-- le corps de la page -->
                <article>
                	
                    <h1>Avez-vous besoin d'aide ?</h1>

                </article>

                {{>elhadji/aside}}
               
            </section>
            
            {{>elhadji/footer}}

        </div>
    </body>
</html>
