

/* bloc de navigation*/
header
{
    flex: 3;
    position: relative;
    box-shadow: 10px 20px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

#navig
{
    width: 53.125em;
    color: rgb(104,132,26);
    padding-bottom: 0.188em;
    padding: 0.625em 1em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0.125em 0.313em rgb(104,132,26);
    border-radius: 0.313em;
}

/*barre de recherche*/
        /*plage d'entrée de texte*/
input[type=text]
{
    background-color: white;
    padding-left: 40px;
    width: 300px; 
    border: 2px solid rgb(104,132,26);
    border-radius: 4px;
}
        /*positionnement de la barre*/
#barre
{
    
    top: 70px;
    position: absolute;
    right: 300px;
    width: 340px;
}
        /*l'icon de recherche de la barre de recherche*/
img
{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    
}

/*placement et taille du logo*/
#logo img
{
    width: 8em;
    height: 5em;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 1em 3em;
}

        /*le cadre pour Accueil, Aprops de nous, Aide*/
.groupe_accueil_apropos_aide,.groupe_connexion_inscription
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/*placement sur la meme ligne de Accueil, à propos de nous et Aide*/
.groupe_accueil_apropos_aide li
{
    float: left;
    font-size: 0.7em;
}

/*placement sur la meme colonne de Inscription et Connexion*/
.groupe_connexion_inscription li
{
    position: relative;

}
/*positionnement du bloc composé de Inscription et Connexion*/
.connexion
{
    position: absolute;
    top: 55px;
    right: 50px;

}

/*surlignage des cases et ombre*/
nav a
{
    display: block;
    color: rgb(104,132,26);
    padding-bottom: 3px;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgb(218,190,70);
    border-radius: 5px;
}

/*changement de couleur quand on pointe sur la case*/
nav a:hover
{
    color: rgb(218,190,70);
    border-bottom: 3px solid #760001;

}

