.search-results
{
    text-align: start;
    margin: 1em 0em;
}

.search-result
{
    background-color: #e0e0eb;
    margin: 1em 0;
    padding: 0.5em;
    box-shadow: 0em 0.125em 0.313em rgb(104,132,26);
    border-radius: 0.313em;
}

.search-result:hover
{
    color: rgb(104,132,26);
    border-bottom: 0.188em solid #760001;
}