.ads
{
    margin: 2em 0;
    justify-content: left;
    display: flex;
    flex-direction: row;
}

.ad a 
{
    color: #28995b;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ad img
{
    width: 10em;
    height: 10em;
}