body 
{
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: 35%;
    
    color: #333333;
    font-family: arial;
    max-width: 50%;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/*bloc publicités*/
aside
{
    text-align: center;
    margin-right: 0.313em;
    flex: 0;
    position: relative;
    background-color: white;
    box-shadow: 0.625em 1.25em 0.313em #1c1a19;
    border-radius: 0.313em;
    padding: 0.625em;
    color: black;
    font-size: 0.9em;
}

header 
{
    margin-top: 16px;
    margin-bottom: 48px;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 25px;
}

header a 
{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

footer 
{
    background-color: white;
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    border-radius: 15px;
}

h1 
{
    font-size: 64px;
    margin-bottom: 16px;
}

input 
{
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 10px;
}

button 
{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.header-search-bar
{
    margin: 1em 0;
}

.main-content 
{
    background-color: white;
    flex-grow: 1;
    border-radius: 25px;
    padding: 3em 5em;
}

/*Search button with search icon*/
.button-search
{
    background: transparent;
    border-radius: 20px;
}

.button-search img
{
    width: 1em;
    height: 1em;
}