
/* Corps */
body
{
    background-image: url("/img/background.png");
    background-repeat: repeat;
    background-size: 35%;
}

section
{
    display: flex;
    margin-bottom: 5em;
    margin-top: 5em;
    justify-content: center;
}

/*bloc des recettes*/
article
{
    text-align: justify;
    margin-right: 0.313em;
    flex: 3;
    position: relative;
    background-color: white;
    box-shadow: 0.625em 1.25em 0.313em #1c1a19;
    border-radius: 0.313em;
    padding: 0.625em;
    color: black;
    font-size: 0.9em;
}
#corps
{
    width: 48.125em;
    color: rgb(104,132,26);
    padding-bottom: 0.188em;
    padding: 0.625em 1em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0.125em 0.313em rgb(104,132,26);
    border-radius: 0.313em;
}


/*bloc publicités*/
aside
{
    text-align: center;
    margin-right: 0.313em;
    flex: 0;
    position: relative;
    background-color: white;
    box-shadow: 0.625em 1.25em 0.313em #1c1a19;
    border-radius: 0.313em;
    padding: 0.625em;
    color: black;
    font-size: 0.9em;
}
#pub img
{
    width: 9.375em;
    height: 6.25em;
    position: relative;
    border-radius: 1.875em;
}

/*bloc de recettes*/
#barres
{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 0.188em;
    padding: 0.625em 1em;
    text-decoration: none;
    border-radius: 0.313em;
}



section input[type=text]
{
    background-color: white;
    padding: 0.75em 1.25em;
    width: 18.75em; 
    border: 0.125em solid rgb(104,132,26);
    border-radius: 0.25em;
}
section input[type=mail]
{
    background-color: white;
    padding: 0.75em 1.25em;
    width: 18.75em; 
    border: 0.125em solid rgb(104,132,26);
    border-radius: 0.25em;
}
section input[type=mot]
{
    background-color: white;
    padding: 0.75em 1.25em;
    width: 18.75em; 
    border: 0.125em solid rgb(104,132,26);
    border-radius: 0.25em;
}
        /*positionnement de la barre*/

article a
{
    display: block;
    color: rgb(104,132,26);
    padding-bottom: 0.188em;
    padding: 0.188em 1em;
    text-align: center;
    width: 6.25em;
    text-decoration: none;
    box-shadow: 0px 0.125em 0.313em rgb(104,132,26);
    border-radius: 0.313em;
}
article a:hover
{
    color: rgb(218,190,70);
    border-bottom: 0.188em solid #760001;

}

#barre5
{
    
    top: 20em;
    position: absolute;
    left: 18.75em;
    width: 21.25em;
}