<input type="text" name="country" list="countryList" placeholder="Country" required>
<datalist id="countryList">
    <option value="France">
    <option value="Germany">
    <option value="Greece">
    <option value="Italy">
    <option value="Russia">
    <option value="Spain">
    <option value="Poland">
    <option value="United Kingdom">
    <option value="United States">
</datalist>