<input type="text" name="language" list="languageList" placeholder="Language" required>
<datalist id="languageList">
    <option value="English">
    <option value="French">
    <option value="German">
    <option value="Greek">
    <option value="Italian">
    <option value="Russian">
    <option value="Spanish">
    <option value="Polish">
</datalist>